@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--foreground, #333); /* Default foreground color */
  background-color: var(--background, #f8f8f8); /* Default background color */
  overflow-x: hidden; /* Prevent horizontal scroll */
}




#navlist{
  color:white;
}
 